@charset "utf-8";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* colors */
  --light1: #fffaf4;
  --light2: #ffecd4;
  --dark1: #242424;
  --dark2: #4a2d11;
  --primary: #ffb119;
  --secondary: #f68500;
  --accent: #ffd27a;

  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light /* dark */;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html, 
body,
&,
* {
  cursor: none;
} */

body,
.loading-bg {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--light1);
  color: var(--dark1);
}

#root {
  width: 100%;
}

.loading-bg {
  background: var(--light1);
}

.nanum {
  font-family: "Nanum Pen Script", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.caveat {
  font-family: "Caveat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.gaegu {
  font-family: "Gaegu", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.wide {
  transform-origin: center left;
  transform: scaleX(1.125);
}

.skew {
  transform-origin: center left;
  transform: skewX(-10deg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: var(--dark2);
}

h1, h2 {
  font-family: "Bagel Fat One", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h1>strong,
section>h2,
section#contact>div>h2 {
  color: transparent;
  -webkit-text-stroke: 0.1875rem var(--dark2);
}
@media (min-width: 64em) {
  h1>strong,
  section>h2,
  section#contact>div>h2 {
    -webkit-text-stroke: 0.25rem var(--dark2);
  }
}

section>h2,
section#contact>div>h2 {
  -webkit-text-stroke: 0.15625rem var(--dark2);
}
@media (min-width: 64em) {
  section>h2,
  section#contact>div>h2 {
    -webkit-text-stroke: 0.21875rem var(--dark2);
  }
}

h2>strong,
h2.project-content {
  color: var(--dark2);
  -webkit-text-stroke: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: 900;
  font-size: 1.375rem;
}

h4 {
  font-family: "Gaegu", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.675rem;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


a {
  font-weight: 700;
  color: #804400;
  text-decoration: revert;
}
a:hover {
  color: #e07900;
}


.main-cursor,
.secondary-cursor {
  transform: translate3d(0, 0, 0)
}

.duck {
  margin: 1rem 0 0 1rem;
  filter: drop-shadow(0 0 3px #804400);
}

/* .duck-head {
  background: radial-gradient(
    circle at center,
    #431407 30%,
    #fafafa 30%
  );
} */


.menu-toggle svg path {
  stroke: var(--light1);
  stroke-width: 0.25rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: center center;
  transition: rotate 200ms ease;
}

.site-navigation.toggled .menu-toggle svg path:first-of-type {
  rotate: -135deg;
}
.site-navigation.toggled .menu-toggle svg path:last-of-type {
  rotate: -135deg;
}

.site-navigation #header-menu {
  height: 100%;
  width: 0;
  top: 0;
  right: -4rem;
  position: fixed;
  padding: 2rem;
  overflow-x: hidden;
  transition: 200ms ease;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
}

.site-navigation.toggled #header-menu {
  width: 100%;
  right: 0;
}

.loading {
  overflow: hidden;
  background: #fed7aa;
  height: 1rem;
  width: 15rem;
  border-radius: 5rem;
}

.loading div {
  width: 5rem;
  height: 1rem;
  border-radius: 5rem;
  background: #fb923c;
  position: relative;
  animation-name: loading;
  animation-duration: 1.5s;  
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes loading {
  from {left: -2.75rem; background-color: #fbbf24;}
  to {left: 12.25rem; background-color: #fb923c;}
}

main>article>section {
  padding: 1rem;
}

#hero {
  border-radius: 0 0 3rem 3rem ;
}

.project-card a,
.contact-button {
  transition: 300ms ease;
}

.project-card a:hover,
.contact-button:hover,
.project-link:hover,
.project.featured-image {
  box-shadow: 0 10px 15px -3px #c2410c50, 0 4px 6px -4px #c2410c50;
}

a.contact-button,
a.contact-button:hover,
a.project-link:first-of-type,
a.project-link:hover:first-of-type {
  color: var(--dark2);
}

.project-link:first-of-type {
  background: #fdba74;
}

.project-card a:hover h3 {
  color: #c2410c;
}

.project-card a figure {
  transition: bottom 400ms ease, right 400ms ease, filter 300ms ease;
  filter: sepia(80%);
}

.project-card a:hover figure {
  right: -1rem;
  bottom: -2.25rem;
  filter: sepia(0%);
}

details p {
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
