@charset "utf-8";

@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* Sections
	 =============================================== */

  /**
  * Remove the margin in all browsers.
  */

  body {
    margin: 0;
  }

  /**
  * Render the `main` element consistently in IE.
  */

  main {
    display: block;
  }

  /* Grouping content
    ============================================== */

  /**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */

  hr {
    box-sizing: content-box;
    overflow: visible;
  }

  /* Text-level semantics
    ============================================== */

  /**
  * Remove the gray background on active links in IE 10.
  */

  a {
    background-color: transparent;
  }

  /**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */

  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  /* Embedded content
    ============================================== */

  /**
  * Remove the border on images inside links in IE 10.
  */

  img {
    border-style: none;
  }

  /* Forms
    ============================================== */

  /**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

  button,
  input,
  optgroup,
  select,
  textarea {
    line-height: 1.15;
    margin: 0;
  }

  /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

  button,
  input {
    overflow: visible;
  }

  /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

  button,
  select {
    text-transform: none;
  }

  /**
  * Correct the inability to style clickable types in iOS and Safari.
  */

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }

  /**
  * Remove the inner border and padding in Firefox.
  */

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /**
  * Restore the focus styles unset by the previous rule.
  */

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  /**
  * Correct the padding in Firefox.
  */

  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

  /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *		`fieldset` elements in all browsers.
  */

  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }

  /**
  * Remove the default vertical scrollbar in IE 10+.
  */

  textarea {
    overflow: auto;
  }

  /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  /**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  /* Interactive
    ============================================== */

  /*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */

  details {
    display: block;
  }

  /* Misc
    ============================================== */

  /**
  * Add the correct display in IE 10+.
  */

  template {
    display: none;
  }

  /**
  * Add the correct display in IE 10.
  */

  [hidden] {
    display: none;
  }


  /* Inherit box-sizing to more easily change it's value on a component level.
  @link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  /* Box Sizing Reset */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  /* Responsive Media Elements */
  embed,
  iframe,
  object {
    max-width: 100%;
  }

  /* Text meant only for screen readers. */
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}

/* Custom Styles -------------------- */
@theme {
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;

  --font-nunito: Nunito, system-ui, Helvetica, Verdana, sans-serif;
  --font-gaegu: Gaegu, "Courier New", sans-serif;
  /* font-weight: bold; */
  --font-bagel-fat-one: "Bagel Fat One", system-ui, Georgia, sans-serif;
}

:root {
  /* colors */
  --light1: #fffaf4;
  --light2: #ffecd4;
  --dark1: #242424;
  --dark2: #4a2d11;
  --primary: #ffb119;
  --secondary: #f68500;
  --accent: #ffd27a;

  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light /* dark */;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

.box {
  --mask:
    radial-gradient(24.6rem at 33% 33rem,#000 100.75%,#0000 101%) calc(50% - 22rem) 0/44rem 100%,
    radial-gradient(24.6rem at 33% -22.45rem,#0000 100.75%,#000 101%) 50% 11rem/44rem 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

/* html, 
body,
&,
* {
  cursor: none;
} */

body,
.loading-bg {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--light1);
  color: var(--dark1);
}

#root {
  width: 100%;
}

.loading-bg {
  background: var(--light1);
}

.nanum {
  font-family: "Nanum Pen Script", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.caveat {
  font-family: "Caveat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.gaegu {
  font-family: "Gaegu", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.wide {
  transform-origin: center left;
  transform: scaleX(1.125);
}

.skew {
  transform-origin: center left;
  transform: skewX(-10deg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: var(--dark2);
}

h1, h2 {
  font-family: "Bagel Fat One", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h1>strong,
section>h2,
section#contact>div>h2 {
  color: transparent;
  -webkit-text-stroke: 0.1875rem var(--dark2);
}
@media (min-width: 64em) {
  h1>strong,
  section>h2,
  section#contact>div>h2 {
    -webkit-text-stroke: 0.25rem var(--dark2);
  }
}

section>h2,
section#contact>div>h2 {
  -webkit-text-stroke: 0.15625rem var(--dark2);
}
@media (min-width: 64em) {
  section>h2,
  section#contact>div>h2 {
    -webkit-text-stroke: 0.21875rem var(--dark2);
  }
}

h2>strong,
h2.project-content {
  color: var(--dark2);
  -webkit-text-stroke: 0;
}

/* h2 {
  font-size: 2rem;
} */

h3 {
  font-weight: 900;
  /* font-size: 1.375rem; */
}

h4 {
  font-family: "Gaegu", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.675rem;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


a {
  font-weight: 700;
  color: #804400;
  /* text-decoration: revert; */
}
a:hover {
  color: #e07900;
}


.main-cursor,
.secondary-cursor {
  transform: translate3d(0, 0, 0)
}

.duck {
  margin: 1rem 0 0 1rem;
  filter: drop-shadow(0 0 3px #804400);
}

/* .duck-head {
  background: radial-gradient(
    circle at center,
    #431407 30%,
    #fafafa 30%
  );
} */


.menu-toggle svg path {
  stroke: var(--light1);
  stroke-width: 0.25rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: center center;
  transition: rotate 200ms ease;
}

/* .site-navigation.toggled .menu-toggle svg path:first-of-type {
  rotate: -135deg;
}
.site-navigation.toggled .menu-toggle svg path:last-of-type {
  rotate: -135deg;
}

.site-navigation #header-menu {
  height: 100%;
  width: 0;
  top: 0;
  right: -4rem;
  position: fixed;
  padding: 2rem;
  overflow-x: hidden;
  transition: 200ms ease;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
}

.site-navigation.toggled #header-menu {
  width: 100%;
  right: 0;
} */

.loading {
  overflow: hidden;
  background: #fed7aa;
  height: 1rem;
  width: 15rem;
  border-radius: 5rem;
}

.loading div {
  width: 5rem;
  height: 1rem;
  border-radius: 5rem;
  background: #fb923c;
  position: relative;
  animation-name: loading;
  animation-duration: 1.5s;  
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate;
}

@keyframes loading {
  from {left: -2.75rem; background-color: #fbbf24;}
  to {left: 12.25rem; background-color: #fb923c;}
}

main>article>section {
  padding: 1rem;
}

#hero {
  border-radius: 0 0 3rem 3rem ;
}

.project-card a,
.contact-button {
  transition: 300ms ease;
}

.project-card a:hover,
.contact-button:hover,
.project-link:hover,
.project.featured-image {
  box-shadow: 0 10px 15px -3px #c2410c50, 0 4px 6px -4px #c2410c50;
}

a.contact-button,
a.contact-button:hover,
a.project-link:first-of-type,
a.project-link:hover:first-of-type {
  color: var(--dark2);
}

.project-link:first-of-type {
  background: #fdba74;
}

.project-card a:hover h3 {
  color: #c2410c;
}

.project-card a figure {
  transition: right 400ms ease, filter 300ms ease;
  filter: sepia(80%);
}

.project-card a:hover figure {
  right: -1rem;
  filter: sepia(0%);
}

.project-card .featured-image {
  height: calc(100% - 2.5rem);
}

details p {
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
